@model AgentPortal.Models.Agent

<h1>Details</h1>

<p>
    AgentCode: @Model.Code
</p>

<p>
    AgentName: @Model.Name
</p>

<p>
    WorkingArea: @Model.WorkingArea
</p>

<p>
    Commission: @Model.Commission
</p>

<p>
    Phone #: @Model.PhoneNo
</p>

<form action="/Agent/RemoveAgent/@Model.Code" method="post">
    <button type="submit" id="delete" class="btn btn-danger">Delete</button>
    <a style="margin: 1em;" href="/Agent/Edit/@Model.Code">Edit</a>
</form>