@model AgentPortal.Models.Agent

<h1>Details</h1>

<p>
    @Model.Code
</p>

<p>
    @Model.Name
</p>

<p>
    @Model.WorkingArea
</p>

<p>
    @Model.Commission
</p>

<p>
    @Model.PhoneNo
</p>

<form action="/Agent/RemoveAgent/@Model.Code" method="post">
    <button type="submit" id="delete" class="btn-danger">Delete</button>
</form>


<script>
    const deleteButton = document.querySelector('#delete');

    deleteButton.addEventListener('click', () => {
        fetch(`/Agent/RemoveAgent/${model}`)
    })
</script>